@import url(../../../css/root.css);

.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* Altura completa de la ventana */
    overflow: hidden; /* Evita que el contenido se desborde */
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.5);
}

.hero__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero__video-mp4 {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: opacity 500ms ease-in-out;
}

.hero__video-mp4--active {
    opacity: 1;
    z-index: 2;
}

.hero__video-mp4--next {
    opacity: 0;
    z-index: 1;
}
