@import url(root.css);

body {
    background-color: var(--color-background);
}

.main {
    position: relative;
}

main>section+section {
    margin-top: var(--section-spacing);
}

.hero {
    position: relative;
    z-index: var(--z-carousel);
}

.wrapper,
.other-content {
    position: relative;
    z-index: var(--z-content);
}


/* Banner Styles */
.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 0;
}

.banner__container {
    width: 100%;
    height: 100%;
}

.banner__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
