@import url(root.css);

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    font-size: 100%;
    list-style-type: none;
    background-color: var(--color-background);
}

main {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}

ol, ul {
    list-style: none;
}
